/*=============================*/
body {
  margin: 0;
  padding: 0;
  background-color: #E8092F;
}
/*=============================*/




/*=============================*/
/* .App {
  
} */
/*=============================*/



/*=============================*/
.pokedexSearchBar{
  background-color:#E8092F;
  justify-content: center;
  text-align: center;

}

.pokedexLogo {
  caret-color: transparent;
}

/* .SearchBar {
} */
/*=============================*/

.PokemonDetailsFavButt {
  background-color: #E8092F;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin: 10px;
  caret-color: transparent;
}

.PokemonDetails {
  margin: 10px;
}

.PokemonDetails-img {
  width: 200px;
  height: 200px;
  /* margin-bottom: 1rem; */
}

/* .addToFavorites {
} */
/*=============================*/



/*=============================*/
.MakeAPokemon {
  background-color: brown;

}
/*=============================*/









a img {
  width: 25px;
  height: 25px;
}

.logo {
  width: 200px;
  height: 80px;
}

::placeholder {
  opacity: 0.5;
}

ul {
  list-style-type: none;
}